main{
    margin: 0; 
}

body {
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto; 
}

h2 {
    text-align: center;
    color:black; /* Cor do título */
}

p {
    text-align: center;
    color: #555;
}

